*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(to right top, #ff2e4c, #dc006b, #a9117f, #6b2684, #1e2a78);
}

.App {
  display: flex;
  gap: 5rem;
}
